<section>
  <div class="panel panel-success">
    <div class="panel-heading">Number of Products</div>
    <div class="panel-body">
      <%= @product_count %>
    </div>
  </div>
  <div class="panel panel-success">
    <div class="panel-heading">Number of Categories</div>
    <div class="panel-body">
      <%= @category_count %>
    </div>
  </div>
</section>
