<li class="list-group-item list-item">
  <%= image_tag product.image.tiny, alt: product.name %>
  <div>
    <h4 class="list-group-item-heading"><%= product.name %></h4>
    <p class="list-group-item-text"><%= product.description %></p>
  </div>
</li>
